@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(72, 71, 71, 0.653) transparent; 
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(72, 71, 71, 0.653); 
  border-radius: 6px;
}
.btn-primary {
  @apply font-semibold text-white bg-blue-600 hover:bg-blue-500 transition-all duration-150
}

.loader {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.loader hr {
  width: 100%;
  border-radius: 4px;
  border: none;
  background-color: #f6f7f8;
  background: linear-gradient(to right, #9ed7ff 30%, #ffffff 35%, #9ed7ff);
  background-size: 80px 50px;
  background-repeat: repeat;
  height: 0.8rem;
  animation: loader 5s infinite linear;
}

.loader hr:last-child {
  width: 50%;
}

@keyframes loader {
  0% {
    background-position: -800px 0px;
  }
  100% {
    background-position: 800px 0px;
  }
}